<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>complex</key>
	<dict/>
	<key>text</key>
	<dict>
		<key>key</key>
		<string>text</string>
	</dict>
	<key>user_action_required</key>
	<dict>
		<key>prompt</key>
		<string>Please log into your account directly and respond to the question you are being asked there.</string>
		<key>key</key>
		<string></string>
	</dict>
	<key>simple</key>
	<dict>
		<key>key</key>
		<string>pin</string>
	</dict>
	<key>credentials</key>
	<dict>
		<key>prompt</key>
		<string>Please enter your credentials</string>
		<key>key</key>
		<string>credentials</string>
	</dict>
	<key>two_letter_state</key>
	<dict>
		<key>prompt</key>
		<string>Please select your state</string>
		<key>key</key>
		<string>state</string>
		<key>choices</key>
		<array>
			<dict>
				<key>label</key>
				<string>Alaska</string>
				<key>value</key>
				<string>AK</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Arizona</string>
				<key>value</key>
				<string>AZ</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Arkansas</string>
				<key>value</key>
				<string>AR</string>
			</dict>
			<dict>
				<key>label</key>
				<string>California</string>
				<key>value</key>
				<string>CA</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Colorado</string>
				<key>value</key>
				<string>CO</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Connecticut</string>
				<key>value</key>
				<string>CT</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Delaware</string>
				<key>value</key>
				<string>DE</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Florida</string>
				<key>value</key>
				<string>FL</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Georgia</string>
				<key>value</key>
				<string>GA</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Hawaii</string>
				<key>value</key>
				<string>HI</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Idaho</string>
				<key>value</key>
				<string>ID</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Illinois</string>
				<key>value</key>
				<string>IL</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Indiana</string>
				<key>value</key>
				<string>IN</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Iowa</string>
				<key>value</key>
				<string>IA</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Kansas</string>
				<key>value</key>
				<string>KS</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Kentucky</string>
				<key>value</key>
				<string>KY</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Louisiana</string>
				<key>value</key>
				<string>LA</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Maine</string>
				<key>value</key>
				<string>ME</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Maryland</string>
				<key>value</key>
				<string>MD</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Massachusetts</string>
				<key>value</key>
				<string>MA</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Michigan</string>
				<key>value</key>
				<string>MI</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Minnesota</string>
				<key>value</key>
				<string>MN</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Mississippi</string>
				<key>value</key>
				<string>MS</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Missouri</string>
				<key>value</key>
				<string>MO</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Montana</string>
				<key>value</key>
				<string>MT</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Nebraska</string>
				<key>value</key>
				<string>NE</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Nevada</string>
				<key>value</key>
				<string>NV</string>
			</dict>
			<dict>
				<key>label</key>
				<string>New Hampshire</string>
				<key>value</key>
				<string>NH</string>
			</dict>
			<dict>
				<key>label</key>
				<string>New Jersey</string>
				<key>value</key>
				<string>NJ</string>
			</dict>
			<dict>
				<key>label</key>
				<string>New Mexico</string>
				<key>value</key>
				<string>NM</string>
			</dict>
			<dict>
				<key>label</key>
				<string>New York</string>
				<key>value</key>
				<string>NY</string>
			</dict>
			<dict>
				<key>label</key>
				<string>North Carolina</string>
				<key>value</key>
				<string>NC</string>
			</dict>
			<dict>
				<key>label</key>
				<string>North Dakota</string>
				<key>value</key>
				<string>ND</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Ohio</string>
				<key>value</key>
				<string>OH</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Oklahoma</string>
				<key>value</key>
				<string>OK</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Oregon</string>
				<key>value</key>
				<string>OR</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Pennsylvania</string>
				<key>value</key>
				<string>PA</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Rhode Island</string>
				<key>value</key>
				<string>RI</string>
			</dict>
			<dict>
				<key>label</key>
				<string>South Carolina</string>
				<key>value</key>
				<string>SC</string>
			</dict>
			<dict>
				<key>label</key>
				<string>South Dakota</string>
				<key>value</key>
				<string>SD</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Tennessee</string>
				<key>value</key>
				<string>TN</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Texas</string>
				<key>value</key>
				<string>TX</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Utah</string>
				<key>value</key>
				<string>UT</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Vermont</string>
				<key>value</key>
				<string>VT</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Virginia</string>
				<key>value</key>
				<string>VA</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Washington</string>
				<key>value</key>
				<string>WA</string>
			</dict>
			<dict>
				<key>label</key>
				<string>West Virginia</string>
				<key>value</key>
				<string>WV</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Wisconsin</string>
				<key>value</key>
				<string>WI</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Wyoming</string>
				<key>value</key>
				<string>WY</string>
			</dict>
		</array>
	</dict>
	<key>branch_code</key>
	<dict>
		<key>prompt</key>
		<string>Please enter your branch code</string>
		<key>key</key>
		<string>pin</string>
	</dict>
	<key>pin</key>
	<dict>
		<key>prompt</key>
		<string>Please enter your PIN</string>
		<key>key</key>
		<string>pin</string>
	</dict>
	<key>not_supported</key>
	<dict>
		<key>prompt</key>
		<string>FileThis currently does not support this type of account for this institution.</string>
		<key>key</key>
		<string></string>
	</dict>
	<key>not_paperless</key>
	<dict>
		<key>prompt</key>
		<string>Before we can retrieve your documents, you need to log in to your account directly from your browser and sign up to &quot;go paperless.&quot;</string>
		<key>key</key>
		<string></string>
	</dict>
	<key>user_locked_out</key>
	<dict>
		<key>prompt</key>
		<string>Your account is locked. Please log into your account directly to unlock it.</string>
		<key>key</key>
		<string></string>
	</dict>
	<key>user_must_set_up_account</key>
	<dict>
		<key>prompt</key>
		<string>You must set up your account profile. Please log into your account directly to do so.</string>
		<key>key</key>
		<string></string>
	</dict>
	<key>general_security_problem</key>
	<dict>
		<key>prompt</key>
		<string>There is a general security problem in your account. Please log into your account directly to resolve it.</string>
		<key>key</key>
		<string></string>
	</dict>
</dict>
</plist>
