<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocPageSize</key>
	<integer>30</integer>
	<key>DocThumbSmallWidth</key>
	<integer>50</integer>
	<key>DocThumbSmallHeight</key>
	<integer>65</integer>
	<key>CacheThumbSmallCount</key>
	<integer>500</integer>
	<key>CacheThumbMediumCount</key>
	<integer>50</integer>
	<key>CacheThumbLargeCount</key>
	<integer>10</integer>
	<key>DocCacheSize</key>
	<integer>5</integer>
	<key>LastUser</key>
	<string></string>
	<key>LastCabId</key>
	<integer>-1001</integer>
	<key>LastSortBy</key>
	<string>name</string>
	<key>LastSortDesc</key>
	<true/>
	<key>LastSearchTagIds</key>
	<string></string>
	<key>LastSearchText</key>
	<string></string>
</dict>
</plist>
