<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>minutes</key>
		<integer>0</integer>
		<key>title</key>
		<string>Never</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>2</integer>
		<key>title</key>
		<string>2 minutes</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>5</integer>
		<key>title</key>
		<string>5 minutes</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>10</integer>
		<key>title</key>
		<string>10 minutes</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>15</integer>
		<key>title</key>
		<string>15 minutes</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>20</integer>
		<key>title</key>
		<string>20 minutes</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>30</integer>
		<key>title</key>
		<string>30 minutes</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>45</integer>
		<key>title</key>
		<string>45 minutes</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>60</integer>
		<key>title</key>
		<string>1 hour</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>120</integer>
		<key>title</key>
		<string>2 hours</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>240</integer>
		<key>title</key>
		<string>4 hours</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>480</integer>
		<key>title</key>
		<string>8 hours</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>720</integer>
		<key>title</key>
		<string>12 hours</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>1440</integer>
		<key>title</key>
		<string>1 day</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>2880</integer>
		<key>title</key>
		<string>2 days</string>
	</dict>
	<dict>
		<key>minutes</key>
		<integer>10080</integer>
		<key>title</key>
		<string>1 week</string>
	</dict>
</array>
</plist>
